<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smartregister.stock.openlmis">

    <application>
        <activity
            android:name=".view.StockListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="org.smartregister.stock.openlmis.activity.OpenLMISJsonForm"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    </application>

</manifest>