<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smartregister.stock.openlmis">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <activity
            android:name=".view.StockListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="org.smartregister.stock.openlmis.activity.OpenLMISJsonForm"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <receiver android:name=".receiver.OpenLMISAlarmReceiver" />

        <receiver android:name="org.smartregister.stock.openlmis.receiver.OnBootReceiver" />
    </application>
</manifest>